
#vscode
#.vscode/
*.code-workspace

#Source data
/data/**/src/
/data/spirv/
/srcImages

#clangd
.cache/

#Executable artifacts
/keyconf.bin
/joyconf.bin
*.ini
/replay

#build artifacts
/build/
/static/
/rel/
compile_commands.json
