aaaa ICON "nice.ico"

1 VERSIONINFO
FILEVERSION     0,0,0,0
PRODUCTVERSION  0,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "Fighting game"
      VALUE "FileVersion", "0.0"
      VALUE "InternalName", "Fight"
      VALUE "LegalCopyright", "Copyright (C) 2022"
      VALUE "OriginalFilename", "Fight.exe"
      VALUE "ProductName", "Fight"
      VALUE "ProductVersion", "Alpha"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
